<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
    <link rel="stylesheet" href="/note/style.css">
    <title>note</title>
</head>
<body>
    <div class="container-fluid">
        <h1 style="text-align: center; color: white; padding-top: 60px; font-weight: 900;">Your Notes</h1>
        <br><br>
        
        <div class="input-group mb-4 w-50 mx-auto">  
            <div class="input-group-prepend">  
                <button id="button-addon8" type="submit" class="btn btn-danger" onclick="search()" > <i class="fa fa-search"> </i> </button>  
            </div> 
            <input type="search" placeholder="Search here..." id="search" aria-describedby="button-addon5" class="form-control">  
            <div class="input-group-append">  
                <button type="button" class="btn btn-primary" id="tg" onclick="toggleSearch()">By Heading</button>  
            </div> 
        </div>
       
        <ul class="list-group w-50 mx-auto" id = "list"> 
            <% if(data.notes) { %>
                <% (data.notes).forEach(note => { %>
                    <li class="list-group-item" style="display: flex;">
                        <p class="p-0 m-0 flex-grow-1 disabled" style="font-size: 15px; color:black; font-weight: 600;" id="heading"><%=note.heading%></p> 
                        <p class="p-0 m-0 flex-grow-1 disabled" style="color: rgb(34, 34, 34);"><b>Tags: </b> <%= (note.tags).join(' ')%></p>
                        <a href="/home/note?noteID=<%=note._id%>" class="btn-success" style="width: 90px; text-align: center; font-weight: 500;">EDIT / VIEW</a>  
                        <a href="/home/del?noteID=<%=note._id%>" class="btn-danger" style="width: 90px; text-align: center; font-weight: 500;">DELETE</a>
                    </li>
                <%})%>
            <%};%>
        </ul>          
                    
        <br><br>
        <div class="col text-center">
            <a href="/home/note" type="button" class="btn btn-primary btn-lg" style="color: white;">New Note</a>
            <a href="/logout"  type="button" class="btn btn-secondary btn-lg" style="color: white;">Logout</a>
        </div>
            
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var s = ""
        var t = 0;
        let list = document.getElementById('list')
        let items = list.getElementsByTagName('li')
        var re = /^\w?$/
        
        document.getElementById("search").addEventListener("keyup", (e) =>{
            if(e.key == "Enter")
                search()
        })


        function toggleSearch(){
            let ele = document.getElementById('tg')
            if(ele.innerText == "By Heading"){
                ele.innerText = "By Tag"
                t = 1;
            }else{
                ele.innerText = "By Heading"
                t = 0;
            }
        }

        function search(){
            var s = document.getElementById('search').value
            for(var i=0; i<items.length; i++){
                let head = ((items[i].getElementsByTagName('p')[0]).innerHTML).toLowerCase()
                let tag = (((items[i].getElementsByTagName('p')[1]).innerHTML).slice(14)).split(' ')
                if(t == 0 && !head.startsWith(s))
                    items[i].style.display = 'none'
                else if(t == 1 && !tag.includes(s))
                    items[i].style.display = 'none'
                else 
                    items[i].style.display = 'flex'
            }
        }
    </script>
</body>
</html>